[Desktop Entry]
Exec=/usr/local/sbin/aun-run
GenericName=Arch-Update
Icon=system-run
Name=Arch Update
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
